
.splash {
    background-image: url('https://i.postimg.cc/ZYyp2ph3/pexels-jo-o-jesus-4198370-1.jpg');
    height: 100vh;
    position: relative;
    background-position: 0% 0%;
    background-size: cover;
    background-attachment: fixed;
}

.page-title, .page-subtitle {
    text-align: center;
}

.page-title {
    color:aqua;
}